@using StatisticSystem.PL.Helpers
@model StatisticSystem.PL.Models.IndexViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manager Page</title>
</head>
<body>
    <div>
        <h1>Hello @ViewBag.Name manager!</h1> 
    </div>
    <table>
        <tr>
            <td> Manager second name</td>
            <td>See details</td>           
        </tr>
        @foreach (var item in Model.ManagerProfiles)
        {
            <tr>
                <td>@item.SecondName</td>
                <td><a href="/Home/Details?Id=@item.Id">Details</a></td>
</tr>
        }
    </table>
    <br/>
    <div>
        @Html.PageLinks(Model.PageInfo, x=> Url.Action("ManagerPage", new { page = x}))
    </div>
</body>
</html>
