    <h3>Are you shure? Delete sale ?</h3>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete" />
        }
    </div>
