@model StatisticSystem.PL.Models.SaleModel


<div>
    @if (ViewBag.Message == null)
    {
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model=>model.ManagerId)
            <div>
                SHOW THIS!
            </div>

        }
    }
    else
    {
        <h4>@ViewBag.Message</h4>
    }
</div>